<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="login-oscar">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `login-oscar`
     * primer elemento con funciones en login
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginOscar extends Polymer.Element {
      static get is() { return 'login-oscar'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-oscar'
          }
        };
      }
    }

    window.customElements.define(LoginOscar.is, LoginOscar);
  </script>
</dom-module>
