<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-card/paper-card.html">


<dom-module id="login-oscar">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


<h2>Login</h2>
<paper-card>
  <div class="card-content">
    <form class="">

      <paper-input label="Usuario" value="{{prop2::input}}" name="prop2"></paper-input>

      <paper-input label="Password" value="{{prop3::input}}" type="password" name="prop3"></paper-input>
      <button type="button" name="button" on-click="valida">Ingresar</button>
    </form>

  </div>


</paper-card>


  </template>

  <script>
    /**
     * `login-oscar`
     * primer elemento con funciones en login
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginOscar extends Polymer.Element {
      static get is() { return 'login-oscar'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-oscar'
          },
          prop2:{
            type:String,
            value:''
          },
          prop3:{
            type:String,
            vale:''
          },
          prop4:{
            type:Boolean,
            value:false,
            notify: true
          }
        };
      }
      valida(prop2,prop3){
        if (this.prop2=='oscar' && this.prop3=='pass') {
                this.set('prop4', true);
                console.log(this.prop4);
              alert('bienvenido');

              }else{
                alert('Credenciales invalidas');

        }
      }



    }

    window.customElements.define(LoginOscar.is, LoginOscar);
  </script>
</dom-module>
